.cabecalho{
    background-color: var(--cor-cabecalho);
}

.conteiner-titulo{
    display: none;
} 
.conteiner{
    display: flex;
} 

@media screen and(min-width 620px) {
    
    .conteiner-titulo{
        display: inline;
    } 
}